body{
    margin: 0;
    overflow: hidden;
}

*{
    box-sizing: border-box;
}


.container{
    height: 100vh;
}

.title-bar{
    height: 5vh;
    background-color: #107C41;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.menu-bar{
    height: 5vh;
    background-color: #107C41;
    display: flex;
    
}

.menu-item{
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 18;
    display: flex;
    align-items: center;
}

.menu-item.selected{
    background-color: #fff;
    color: #107C41;
    /* border-bottom: 3px solid #107C41; */

}

.menu-item:hover{
    background-color: #0c5f32;
    cursor: pointer;
}

.menu-item.selected:hover{
    background-color: #fff;
    cursor: default;
}

.menu-icon-bar{
    height: 6vh;
    display: flex;
    background-color: #F3F2F1;
    align-items: center;
}

.menu-icon-bar .menu-icon {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;

    
}

.menu-icon:hover{
    background-color: #dfdedd;
    cursor: pointer;
}

.menu-icon.selected{
    background-color: #dfdedd;
}

.font-family-selector {
    width: 150px;
}

.selector {
    height: 30px;
    font-size: 18px;
}

.selector option {
    font-size: 18px;
}

.formula-bar{
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.7rem;
    background-color: #F3F2F1;
}

.formula-editor{
    height: 70%;
    border: 1px solid lightgray;
    background-color: white;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
}

.selected-cell{
    width: 120px;
}

.function-sign{
    width: 40px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.function-sign svg{
    width: 16px;
}

.formula-input{
    width: calc(100vw - 160px);
    outline-color: #107C41
}

.data-container{
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
}

.select-all{
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
}

.column-name-container{
    width: calc(100vw - 30px);
    height: 30px;
    border: 1px solid lightgrey;
    display: flex;
    overflow: hidden;
}

.column-name{
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
    font-weight: 800;
}

.row-name-container{
    width: 30px;
    height: calc(75vh - 30px);
    border: 1px solid lightgrey;
    overflow: hidden;
}

.row-name{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    border-bottom: 1px solid lightgray;

}

.input-cell-container{
    width: calc(100vw - 30px);
    height: calc(75vh - 30px);
    border: 1px solid lightgrey;
    overflow: scroll;
}

.cell-row{
    display: flex;
}

.input-cell{
    min-width: 100px;
    min-height: 25px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    outline-color: #107C41
}

.input-cell.selected{
    border: 2px solid #107C41;
}


.input-cell.top-cell-selected{
    border-top: none;
}

.input-cell.bottom-cell-selected{
    border-bottom: 1px solid lightgray;
}

.input-cell.right-cell-selected{
    border-right: 1px solid lightgrey;
}

.input-cell.left-cell-selected{
    border-left: none;
}



.sheet-bar{
    height: 4vh;
    display: flex;
    align-items: center;
}

.scroller{
    width: 70px;
}

.icon-left-scroll, .icon-right-scroll {
    width: 30px;
    align-items: center;
    justify-content: center;
}

.icon-left-scroll:hover, .icon-right-scroll:hover{
    cursor: pointer;
    background-color: lightgray;
}

.icon-add  {
    color: #107C41;
    width: 40px;
}

.icon-add:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.sheet-tab-container{
    border: 1px solid lightgray;
    width: calc(100vw - 110px);
}

.sheet-tab {
    border-bottom: 4px solid #107C41;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    border-right: 1px solid lightgray;

}

.sheet-tab{
    cursor: default;
}